body {
    background-image: url("images/bank.jpg");
    background-size: 90%;
    font-family: Verdana, Helvetica, sans-serif;
}

img {
    position: absolute;
}

div {
    position: absolute;
    width: 500px;
    height: 500px;
}

#rightSide {
    left: 500px;
    border-left: 1px solid;
}

.button {
    position: absolute;
    background-color: rgb(17, 0, 255);
    border: solid, black;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: none;
    font-size: 18px;
    margin-left: 700px;
}